.agent {
  background: url('../../img/fon2.jpg') center (center/cover) no-repeat;
  min-height: 342px;
  &__subtitle {
    margin-top: 68px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }
  &__descr {
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;

  }
  &__text {
    margin: 0 auto;
  }
  &-2 {
    background: url('../img/fon3.jpg') center (center/cover) no-repeat;
  }
}